{% extends "shop/base.html" %} {% load static %} {% block title%}Plantillas
ortopedicas{%endblock %} {% block content %}
<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <div class="contact-div">
    {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="alert {{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
          {% endif %}
      <h1><strong>Plantillas ortopédicas a medida</strong></h1>
      <h5>Confort y salud para tus pies, diseñadas especialmente para vos</h5>

      <div data-aos="fade-left" class="content-block">
        <figure class="image-with-caption">
          <img
            src="{% static 'media/arcoscan3.webp' %}"
            class="plantillas-1"
            alt="First slide"
          />
          <figcaption>A medida para tu bienestar</figcaption>
        </figure>
        <p>
          En nuestro centro, nos especializamos en la creación de
          <strong>plantillas ortopédicas</strong>, diseñadas para adaptarse
          perfectamente a las necesidades de cada paciente.
        </p>
      </div>

      <div data-aos="fade-right" class="content-block">
        <figure class="image-with-caption">
          <img
            src="{% static 'media/plantillas_ico1.png' %}"
            class="plantillas-1"
            alt="First slide"
          />
          <figcaption>A medida para tu bienestar</figcaption>
        </figure>
        <p>
          Proveemos un servicio innovador de
          <strong>análisis digital de la pisada</strong>. Este estudio avanzado
          nos permite realizar un mapeo preciso de los puntos de apoyo de tus
          pies, identificando con exactitud las áreas que necesitan corrección.
        </p>
      </div>

      <div data-aos="fade-left" class="content-block">
        <figure class="image-with-caption">
          <img
            src="{% static 'media/shoes_plantillas.jpg'  %}"
            class="plantillas-1"
            alt="First slide"
          />
          <figcaption>A medida para tu bienestar</figcaption>
        </figure>
        <p>
          Las plantillas ortopédicas a medida no solo
          <strong>alivian el dolor de forma inmediata</strong>, sino que también
          mejoran la postura y la alineación, reduciendo el dolor en rodillas,
          caderas y espalda. Además, optimizan el equilibrio y la estabilidad,
          previniendo lesiones y mejorando tu calidad de vida para mantenerte
          activo sin molestias.
        </p>
      </div>

      <div class="contact-mail">
        <h2><strong>¿Quieres saber más?</strong></h2>
        <p>
          ¡Estamos para ayudarte! Dejanos tu <strong>mail</strong> y nos
          pondremos en contacto para resolver tus dudas y agendar un turno.
        </p>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa-regular fa-envelope"></i>
            </span>
          </div>
          <form method="post" action="">
            {% csrf_token %} {{ form.email }}
            <button class="contact-button" type="submit">Enviar</button>
          </form>
          
        </div>
      </div>
    </div>
  </body>
</html>
{% endblock %}
