{% extends "shop/base.html" %}
{% load static %}
{% block title %}
  Tu carrito de compra
{% endblock %}
{% block content %} 
<div class="col-md-12">
  
    <div class ="cart-bi">
      <div class="table-responsive">
        
          <div class="Cart-title">
            <h1>Tu carrito de compra</h1>
          </div>
            <table class="table table-shopping">
              <thead class="custom-header">
                <tr>
                  <th>Imagen</th>
                  <th>Producto</th>
                  <th>Cantidad</th>
                  <th>Remover</th>
                  <th>Precio por unidad</th>
                  <th>Precio</th>
                </tr>
              </thead>
              <tbody>
                {% for item in cart %}
                  {% with product=item.product %}
                    <tr>
                      <td>
                        <a href="{{ product.get_absolute_url }}">
                          <img src="{% if product.image %}{{ product.image.url }}
                          {% else %}{% static "img/no_image.png" %}{% endif %}">
                        </a>
                      </td>
                      <td>{{ product.name }}</td>
                      <td><form action="{% url "cart:cart_add" product.id %}" method="post">
                        {{ item.update_quantity_form.quantity }}
                        {{ item.update_quantity_form.override }}
                        <input class="btn-update" type="submit" value="Actualizar">
                        {% csrf_token %}
                      </form>
                      </td>
                      <td>
                        <form action="{% url "cart:cart_remove" product.id %}" method="post">
                          <input class="btn-remove" type="submit" value="Eliminar" >
                          {% csrf_token %}
                        </form>
                      </td>
                      <td class="num">${{ item.price }}</td>
                      <td class="num">${{ item.total_price }}</td>
                    </tr>
                  {% endwith %}
                {% endfor %}
                <tr class="total">
                  <td>Total</td>
                  <td colspan="4"></td>
                  <td class="num">${{ cart.get_total_price }}</td>
                </tr>
              </tbody>
            </table>
            </div>
            <p class="text-right">
              <a href="{% url "shop:product_list" %}" class="button
              light">Continuar comprando</a>
              <a  href="{% url "orders:order_create" %}" class="btn button-buy">
              Comprar
              </a>
            </p>
        </div>
    </div>
  </div>
</div>
{% endblock %}


