# Ignorar el entorno virtual
venv/

# Ignorar configuraciones de VSCode
.vscode/

# Ignorar archivos temporales
*.pyc
__pycache__/

# Ignorar archivos de datos
data.json

# Ignorar archivos de log
*.log